.blog-list {
    display: grid;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 90px;
    grid-template-columns: repeat(3,1fr);

    background-color: whitesmoke;
  }
  .blog-header {
    /* position: relative; */
    width: 100%;
    height: 300px;
    background: url("../assets/blog7.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .blog-overlay {
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .blogtitle {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .blog-breadcrumb {
    color: white;
    font-size: 1.2rem;
  }
  
 
  
  .blo{
    color:#EDD0A2;
    font-size: 15px;
  }
  
  .blog-card {
    width: 350px;
    background: white;
    margin-bottom: 5rem;
    overflow: hidden;
    margin-left: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .blog-image {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  .blog-date {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .blog-content {
    padding: 15px;
  }
  
  .blog-meta {
    color: gray;
    font-size: 14px;
    display: flex;
    gap: 10px;
  }
  
  .blog-title {
    font-size: 18px;
    color: green;
    margin: 10px 0;
  }
  
  .blog-description {
    font-size: 14px;
    color: gray;
  }
  .comment-section {
    margin-top: 10px;
  }
  
  .comment-input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #008cba;
    color: white;
    padding: 8px 12px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
  }
  
  .comments-list {
    margin-top: 10px;
  }
  
  .comment {
    background: #f3f3f3;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  